<div class="popup-done">
  <div class="wrapper">
    <h4><%= t('.heading') %></h4>

    <p><%= raw t('.completed') %></p>
    <p>
      <strong><%= t('popups.limit.available_amount') %>: <%= t(:remaining_advance) %></strong>
    </p>

    <label for="main-popup-control" class="button-link"><%= t(:continue_shopping) %></label>
  </div>
</div>
