<div class="popup-sms">
  <p class="lead"><%= raw t('popups.sms.lead') %></p>

  <form class="mokka-form js-local-form" action="<%= local_limit_path %>">
    <fieldset>
      <div>
        <%=
          text_field_tag(
              'code',
              '1234',
              placeholder: t(:sms_code),
              required: true
          )
        %>
      </div>
    </fieldset>
    <div class="buttons">
      <button class="button-link"><%= t(:send) %></button>
    </div>
    <p class="disclaimer">
      <%= t(:send_again_in) %> <em><span>8</span> <%= t(:seconds) %></em>.
    </p>
  </form>
</div>
