<!DOCTYPE html>
<html lang="<%= locale %>" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8"/>
  <title>Demostore: <%= yield :meta_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="format-detection" content="telephone=no"/>
  <%= yield :alternate_links %>
  <%= render 'shared/meta_texts' %>
  <script defer src="https://unpkg.com/imask"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      if (arguments.length === 1) {
        dataLayer.push(arguments[0]);
      } else {
        dataLayer.push(arguments);
      }
    }
    gtag('js', new Date());
    gtag('config', 'GTM-PB9FCWT', {
      page_path: window.location.pathname,
    });
  </script>  
</head>
<body>
<%= render 'layouts/application/sidebar' %>
<main id="main">
  <%= render 'layouts/application/header' %>
  <div class="main-wrapper">
    <%= render 'shared/flash_messages' %>
    <%= render 'shared/breadcrumbs' %>

    <%= yield %>
  </div>
  <%= render 'layouts/application/footer' %>
  <%= render 'layouts/application/popup_container' %>
</main>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'? '&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PB9FCWT');</script>
<!-- End Google Tag Manager -->
</body>
</html>
